{% extends "network/layout.html" %}

{% block body %}
<div class="mx-5">  
    <h1>All Posts</h1>
</div>
<div class="mx-5">  
    <div class = "card">
        <h3>New Post</h3>
        <form action = "{% url 'index' %}" method="POST">
            {% csrf_token %} 
            <textarea id = "content" name = "content" autofocus></textarea>
            <br>
            <button class = "btn btn-primary" type = "submit">Post</button>
        </form>
    </div>
</div>

{% for post in posts %}
    <div class = "my-3"> 
        <div class = "mx-5">
            <div class = "card">
                <div class = "post">
                    <div id = "post-{{ post.id }}">
                        <h5>{{ post.poster }}</h5>
                        {% if user == post.poster %}
                            <button class="edit-btn small btn btn-primary" data-id="{{ post.id }}">Edit</button>
                        {% endif %}
                        <p class = "content">{{ post.content }}</p>
                        <button class="like-btn btn btn-outline-primary btn-sm" data-id="{{ post.id }}">
                            Like ({{ post.likes.count }})
                        </button>
                        <br>
                        <small>{{ post.timestamp }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}