{% extends "network/layout.html" %}

{% block body %}
    <div class = "mx-5">
        <h1>{{ profile_user.username }}</h1>
        <p>Followers: <span id="followers-count">{{ followers }}</span></p>
        <p>Following: {{ following }}</p>

        {% if user !=  profile_user %}
            {% if is_following %}
                <button id="follow-btn" class="btn btn-danger">Unfollow</button>
            {% else %}
                <button id="follow-btn" class="btn btn-primary">Follow</button>
            {% endif %}
        {% endif %}
    </div>
    
    <hr>

    <div class="mx-5">
        <h3>Posts</h3>
        {% for post in posts %}
            <div class="card my-3">
                <div class="card-body">
                    <p>{{ post.content }}</p>
                    <small>{{ post.timestamp }}</small>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}